c_cyan = #01c2c9

vendor-prefixes ?= webkit moz o ms official
@import vendor

body
  background-color white
  margin 0
  padding 0

.pub
  position absolute
  width 100px
  height 100px
  top 25%
  left 50%
  .rings
    position relative
    width 100%
    height 100%
    .ring
      position absolute
      top 50%
      left 50%
      border-radius 50%
    .ring.a
      margin-top -30px
      margin-left -30px
      width 60px
      height 60px
      background-color rgba(c_cyan, 1)
    .ring.b
      width 80px
      height 80px
      margin-top -40px
      margin-left -40px
      background-color rgba(c_cyan, 0.6)
    .ring.c
      width 100px
      height 100px
      margin-top -50px
      margin-left -50px
      background-color rgba(c_cyan, 0.3)
 
.pub.pub1
  margin-left -50px
  margin-top -50px
  > .rings 
    > .ring.b
      animation pulseb 1s 0s ease-in-out infinite alternate
    > .ring.c
      animation pulsec 1s 0s ease-in-out infinite alternate

.pub.pub2
  margin-left -200px
  margin-top -50px
  > .rings 
    > .ring.b
      animation pulseb 0.5s 0s ease-in-out infinite alternate
    > .ring.c
      animation pulsec 0.5s 0.25s ease-in-out infinite alternate

.pub.pub3
  margin-left 100px
  margin-top -50px
  > .rings 
    > .ring.ring.b
      animation pulseb 1s 0s ease-in-out infinite alternate
    > .ring.ring.c
      animation pulsec 1s 0.25s ease-in-out infinite alternate

.pub.pub4
  margin-left -50px
  margin-top 100px
  > .rings 
    > .ring:nth-child(2)
      animation fade 2s 0s ease-in-out infinite
    > .ring:nth-child(3)
      animation fade 2s 0.5s ease-in-out infinite



@keyframes pulsec
  from
    width 60px
    height 60px
    margin-left -30px
    margin-top -30px
  to
    width 100px
    height 100px
    margin-left -50px
    margin-top -50px

@keyframes pulseb
  from
    width 60px
    height 60px
    margin-left -30px
    margin-top -30px
  to
    width 80px
    height 80px
    margin-left -40px
    margin-top -40px


@keyframes fade
  from
    width 60px
    height 60px
    margin-left -30px
    margin-top -30px
    background-color rgba(c_cyan, 1)
  to
    width 100px
    height 100px
    margin-left -50px
    margin-top -50px
    background-color rgba(c_cyan, 0)


